# POLICE TRAFFIC ANALYSIS

In [22]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [23]:
df = pd.read_csv(r"C:\Users\SUDHANSU\Desktop\PYTHONPYCHARM\DATASCIENCE\3. Police Data.csv")

In [24]:
df.head(3)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

### 1) DATA CLEANING :- Remove the column that contains missing values.

In [25]:
df.isnull()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
65531,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
65532,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
65533,False,False,True,True,True,True,True,True,True,False,True,True,True,True,False
65534,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False

In [26]:
df.isnull()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
65531,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
65532,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
65533,False,False,True,True,True,True,True,True,True,False,True,True,True,True,False
65534,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False

In [34]:
#df.drop(columns="driver_gender", inplace= True)

### 2) FILTERNING & VALUE COUNTS :- For speeding Men or Women were stopped more often?
##### df[df.column_1 =="Element/Value"].Column_2.value_counts()

In [35]:
df.head(2)

,stop_date,stop_time,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
1,1/18/2005,8:15,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False

In [38]:
df[df.violation == "Speeding"]

,stop_date,stop_time,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
1,1/18/2005,8:15,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
2,1/23/2005,23:15,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
4,3/14/2005,10:00,1984.0,21.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
6,4/1/2005,17:30,1969.0,36.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...
65527,12/6/2012,15:26,1981.0,31.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
65529,12/6/2012,16:00,1994.0,18.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
65530,12/6/2012,17:54,1987.0,25.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
65531,12/6/2012,22:22,1954.0,58.0,White,Speeding,Speeding,False,Warning,False,0-15 Min,False
65534,12/7/2012,0:30,1985.0,27.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False

In [39]:
df

,stop_date,stop_time,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
1,1/18/2005,8:15,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
2,1/23/2005,23:15,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
3,2/20/2005,17:15,1986.0,19.0,White,Call for Service,Other,False,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,1984.0,21.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...
65530,12/6/2012,17:54,1987.0,25.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
65531,12/6/2012,22:22,1954.0,58.0,White,Speeding,Speeding,False,Warning,False,0-15 Min,False
65532,12/6/2012,23:20,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,Citation,False,0-15 Min,False
65533,12/7/2012,0:23,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False
65534,12/7/2012,0:30,1985.0,27.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False

In [40]:
df[df.violation == "Speeding"].violation_raw.value_counts()

Speeding    37204
Name: violation_raw, dtype: int64

### 3) GROUPBY :- Does gender affect who get stopped for a search?
 #####  df.groupby("Column_1").Column_2.sum()

In [41]:
df.groupby("driver_race").search_conducted.sum()

driver_race
Asian         36
Black        616
Hispanic     407
Other          1
White       1419
Name: search_conducted, dtype: int64

### 4) MAPPING & DATA TYPECASTING:- What is the mean stop duration ?

In [42]:
df.search_conducted.value_counts()

False    63056
True      2479
Name: search_conducted, dtype: int64

In [43]:
df.head(3)

,stop_date,stop_time,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
1,1/18/2005,8:15,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
2,1/23/2005,23:15,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False

In [44]:
df.stop_duration.value_counts()

0-15 Min     47379
16-30 Min    11448
30+ Min       2647
2                1
Name: stop_duration, dtype: int64

In [45]:
df["stop_duration"]=df["stop_duration"].map({"0-15 Min":7.5, "16-30 Min": 24, "30+ Min": 45})

In [46]:
df

,stop_date,stop_time,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,7.5,False
1,1/18/2005,8:15,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,7.5,False
2,1/23/2005,23:15,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,7.5,False
3,2/20/2005,17:15,1986.0,19.0,White,Call for Service,Other,False,Arrest Driver,True,24.0,False
4,3/14/2005,10:00,1984.0,21.0,White,Speeding,Speeding,False,Citation,False,7.5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
65530,12/6/2012,17:54,1987.0,25.0,White,Speeding,Speeding,False,Citation,False,7.5,False
65531,12/6/2012,22:22,1954.0,58.0,White,Speeding,Speeding,False,Warning,False,7.5,False
65532,12/6/2012,23:20,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,Citation,False,7.5,False
65533,12/7/2012,0:23,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False
65534,12/7/2012,0:30,1985.0,27.0,White,Speeding,Speeding,False,Citation,False,7.5,False

In [47]:
df["stop_duration"].mean()

12.187420698181345

### 5) GROUPBY & DESCRIBE:- Compare the age distribution for each violation.

In [49]:
df.groupby("violation").driver_age.describe()

,count,mean,std,min,25%,50%,75%,max
violation,,,,,,,,
Equipment,6507.0,31.682957,11.380671,16.0,23.0,28.0,39.0,81.0
Moving violation,11876.0,36.736443,13.258350,15.0,25.0,35.0,47.0,86.0
Other,3477.0,40.362381,12.754423,16.0,30.0,41.0,50.0,86.0
Registration/plates,2240.0,32.656696,11.150780,16.0,24.0,30.0,40.0,74.0
Seat belt,3.0,30.333333,10.214369,23.0,24.5,26.0,34.0,42.0
Speeding,37120.0,33.262581,12.615781,15.0,23.0,30.0,42.0,88.0